main {
  @include clearfix;
  @include container;
  position: relative;
}

.slideshow-container {
  @include background-image(url('../images/lt.jpg'));
  border-top: $slidecontainercordercolor 4px solid;
  display: block;
  height: 430px;
  position: relative;
}

.slideshow-overlay {
  @include inline-block;
  @include opacity(.6);
  background-color: $dark;
  bottom: 0;
  height: 135px;
  position: absolute;
  width: 100%;
}

.slide-info {
  bottom: 5px;
  height: 115px;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.slide-title {
  color: $slidetitlecolor;
  font-family: $fontmpsecond;
  font-size: 33px;
  line-height: 26px;
  margin: 5px 15px;
  text-transform: uppercase;
  z-index: 100;
}

.slide-date {
  color: $light;
  display: block;
  font-family: $fontmpsecond;
  font-size: 20px;
  line-height: 20px;
  margin: 5px 15px;
}

.slide-description {
  color: $light;
  display: block;
  font-family: $fontmpsecond;
  font-size: 15px;
  line-height: 18px;
  margin: 5px 15px 10px;
}

.slide-more-button {
  color: $slidetitlecolor;
}
